.mainHeader {
  width: 100%;
  height: 80px;
  background: rgba(175, 215, 249, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  -webkit-transition: all .4s, background 0s;
  -o-transition: all .4s, background 0s;
  transition: all .4s, background 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .mainHeader h1 {
    font-size: 32px;
    font-variant: small-caps;
    color: rgba(8, 63, 110, 0.51); }
  .mainHeader nav {
    width: auto;
    height: 100%; }
  .mainHeader nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainHeader nav ul li a {
    font-family: BPGExtraSquare;
    font-size: 16px; }
  .mainHeader nav ul li {
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
    padding: 0 20px;
    word-wrap: break-word;
    height: 100%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .mainHeader nav ul li:hover {
      background: rgba(189, 222, 250, 0.51); }

.languages {
  position: fixed;
  right: 0;
  top: 100px;
  width: 50px; }

.mainSlider {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .mainSlider h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 64px;
    top: 40%;
    color: white;
    font-family: 'Modak', cursive; }
  .mainSlider p {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 10%;
    top: 50%;
    font-size: 30px;
    color: white;
    font-family: mtav; }

.aboutTb {
  width: 100%;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .aboutTb h2 {
    width: 15%;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    color: rgba(10, 77, 133, 0.51);
    position: relative;
    background: white; }
  .aboutTb::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(175, 215, 249, 0.51);
    top: calc(50% - 1px);
    z-index: -1; }

@-webkit-keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

@keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

.images {
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-gap: 5px; }
  .images img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
