@import "variables";

body {
    background-image: url("../images/regback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
} 
.mainHeader {
background-color: transparent;
h1 {
    color: white;
}
}
.myForm {
    width: 40%;
    margin-left: 30%;
    margin-top: 120px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      height: 90%;
      background: rgba(230, 205, 173, 0.77);
      padding: 30px;
  
      

      input {
        margin-bottom: 15px;
        height: 30px;
        width: 100%;
        max-width: 300px;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: solid 1px white;
        &::placeholder {
            font-weight: bolder;
            font-size: 15px;
            color: hsla;
            font-family: mtav;
        }
        
       
      } 
      .myForm__forPassword {
        width: 74%;
        position: relative;
       margin: 0 auto;
       width: 100%;
       max-width: 300px;
       list-style-type: square;
        
     }

     .myForm__lists {
       position: absolute;
       right: -100px;
       top: 0;
       list-style-type: disc;
       list-style: square;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
      
     }

     .myForm__lists li {
       font-size: 12px;
       color: red;
       opacity: 0;
       transition: color .4s, opacity 1s;
       list-style: square;
     }
      .forEmail {
          align-self: flex-end;
          color: red;
          opacity: 0;
          transition: color 0s, opacity .8s;
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background: rgba(230, 205, 173, 0.97);
        font-family: BPGExtraSquare;
        margin-top: 30px;
        cursor: pointer;
        align-self: flex-end;
        border: solid 1px white;
       border-radius:4px ;
       outline:none;
       transform: skew(-10deg);
    }

      
   
}