$mainColor: rgba(175, 215, 249, 0.51);
html {
    scroll-behavior: smooth;
}
.mainHeader {
    width: 100%;
    height: 80px;
    background: $mainColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    transition: all .4s, background 0s;
    animation-fill-mode: forwards;


    h1 {
        font-size: 32px;
        font-variant: small-caps;
        color: darken($mainColor, 60%)
    }

    nav {
        width: auto;
        height: 100%;


    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        height: 100%;
        align-items: center;

    }

    nav ul li a {
        font-family: BPGExtraSquare;
        font-size: 16px;
        
    }

    nav ul li {
        transition: background .4s;
        padding: 0 20px;
        word-wrap: break-word;
        height: 100%;
        width: (100% / 5);
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:hover {
            background: lighten($mainColor, 3%);
        }
    }

}

.languages {
    position: fixed;
    right: -90px;
    top: 100px;
    width: 140px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: all .4s;
}
.languages img {
    height: 38px;
    width: 38px;
}

.languages img:hover {
    transform: scale(1.2);
}

.languages:hover {
    right: 10px;
}

.slider {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }

    .overlay {
        transition: all .4s;
    }
}

.aboutTb {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;

    h2 {
        width: 15%;
        text-align: center;
        font-size: 40px;
        line-height: 80px;
        color: darken($mainColor, 55%);
        position: relative;
        background: white;



    }

    &::after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        background: $mainColor;
        top: calc(50% - 1px);
        z-index: -1;

    }

}

@keyframes forHeader {

    from {
        width: 100%;
        left: 0;

    }

    to {
        width: 90%;
        left: 5%;
    }
}

.images {
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    column-count: 4;

    column-gap: 20px;
    -moz-column-gap: 5px;

    img {
        width: 100%;
        object-fit: cover;
    }

}
.aboutCompany {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
h3 {
    float: left;
    font-family: BPGExtraSquare;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 40px;
    color: teal;
    position: relative;
   
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 50px;
        background-color: lighten(yellow,0.3);

    } 

    
    
}

    h2 {
        width: 100%;
        font-size: 18px;
        font-family: BPGExtraSquare;
        text-align: justify;
        color: teal;

        &::selection {
            color: white;
            background-color: darken(teal,0.4%);
          }
    }

    &:nth-child(odd) h3 {
      text-align: right;
      &::after {
        left: auto;  
        right: 0;
      }
    }
}

.authenticate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    background-image: url('https://wikitravel.org/upload/shared//c/c7/Tbilisi_banner.jpg');
    margin: 0 auto;
    justify-content: flex-end;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    h2 {
        flex: 1;
        font-size: 45px;
        color: rgba(228, 231, 16, 0.964);
        text-align: center;
        line-height: 260px;
        font-family: mtav;
    }
    form {
        width: 45%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        font-family: BPGExtrasquare;
        color: white;
        z-index: 999;
        * {
            width: 200px;
            border-radius: 10px;
            height: 39px;
            border: none;
            outline: none;
            padding-left: 10px;

            &::placeholder {
                color: teal;
                font-size: 16px;
                font-family: BPGExtrasquare;
            }
        }

        button {
            color: teal;
            font-family: BPGExtrasquare;
            font-size: 14px;
            cursor: pointer;
        }

      
    }

    &::after {
        content: '';
        position: absolute;
        background-color: rgba(228, 231, 16, 0.364);
        right: -20%;
        z-index: 1;
        width: 70%;
        transform: skew(-120deg);
        height: 100%;
            }
}

.mainFooter {
    width: 100%;
    height: 200px;
    background-color: teal;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 770px){

    .authenticate{ 
        form {
            width: 100%;
        }

        h2 {
            display: none;
        }

        &::after{
        content: none;
    }}
    
   
}