body {
  background-image: url("../images/regback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%; }

.mainHeader {
  background-color: transparent; }
  .mainHeader h1 {
    color: white; }

.myForm {
  width: 30%;
  margin-left: 35%;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90%;
  overflow: auto;
  background: rgba(230, 205, 173, 0.77);
  padding: 30px; }
  .myForm input {
    margin-bottom: 15px;
    height: 30px;
    width: 100%;
    max-width: 300px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 1px white; }
    .myForm input::-webkit-input-placeholder {
      font-weight: bolder;
      font-size: 15px;
      color: hsla;
      font-family: mtav; }
    .myForm input:-ms-input-placeholder {
      font-weight: bolder;
      font-size: 15px;
      color: hsla;
      font-family: mtav; }
    .myForm input::-ms-input-placeholder {
      font-weight: bolder;
      font-size: 15px;
      color: hsla;
      font-family: mtav; }
    .myForm input::placeholder {
      font-weight: bolder;
      font-size: 15px;
      color: hsla;
      font-family: mtav; }
  .myForm .forEmail {
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: red;
    opacity: 0;
    -webkit-transition: color 0s, opacity .8s;
    -o-transition: color 0s, opacity .8s;
    transition: color 0s, opacity .8s; }
  .myForm button {
    width: 150px;
    height: 30px;
    color: white;
    background: rgba(230, 205, 173, 0.97);
    font-family: BPGExtraSquare;
    margin-top: 30px;
    cursor: pointer;
    -ms-flex-item-align: end;
    align-self: flex-end;
    border: solid 1px white;
    border-radius: 4px;
    outline: none;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg); }
