html {
  scroll-behavior: smooth; }

.mainHeader {
  width: 100%;
  height: 80px;
  background: rgba(175, 215, 249, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  -webkit-transition: all .4s, background 0s;
  -o-transition: all .4s, background 0s;
  transition: all .4s, background 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .mainHeader h1 {
    font-size: 32px;
    font-variant: small-caps;
    color: rgba(8, 63, 110, 0.51); }
  .mainHeader nav {
    width: auto;
    height: 100%; }
  .mainHeader nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainHeader nav ul li a {
    font-family: BPGExtraSquare;
    font-size: 16px; }
  .mainHeader nav ul li {
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
    padding: 0 20px;
    word-wrap: break-word;
    height: 100%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .mainHeader nav ul li:hover {
      background: rgba(189, 222, 250, 0.51); }

.languages {
  position: fixed;
  right: -90px;
  top: 100px;
  width: 140px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.languages img {
  height: 38px;
  width: 38px; }

.languages img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.languages:hover {
  right: 10px; }

.slider {
  width: 100%; }
  .slider img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .slider .overlay {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }

.aboutTb {
  width: 100%;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .aboutTb h2 {
    width: 15%;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    color: rgba(10, 77, 133, 0.51);
    position: relative;
    background: white; }
  .aboutTb::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(175, 215, 249, 0.51);
    top: calc(50% - 1px);
    z-index: -1; }

@-webkit-keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

@keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

.images {
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-gap: 5px; }
  .images img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.aboutCompany {
  width: 90%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .aboutCompany h3 {
    float: left;
    font-family: BPGExtraSquare;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 40px;
    color: teal;
    position: relative; }
    .aboutCompany h3::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 50px;
      background-color: #ffff02; }
  .aboutCompany h2 {
    width: 100%;
    font-size: 18px;
    font-family: BPGExtraSquare;
    text-align: justify;
    color: teal; }
    .aboutCompany h2::-moz-selection {
      color: white;
      background-color: #007e7e; }
    .aboutCompany h2::selection {
      color: white;
      background-color: #007e7e; }
  .aboutCompany:nth-child(odd) h3 {
    text-align: right; }
    .aboutCompany:nth-child(odd) h3::after {
      left: auto;
      right: 0; }

.authenticate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  background-image: url("https://wikitravel.org/upload/shared//c/c7/Tbilisi_banner.jpg");
  margin: 0 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative; }
  .authenticate h2 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 45px;
    color: rgba(228, 231, 16, 0.964);
    text-align: center;
    line-height: 260px;
    font-family: mtav; }
  .authenticate form {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: BPGExtrasquare;
    color: white;
    z-index: 999; }
    .authenticate form * {
      width: 200px;
      border-radius: 10px;
      height: 39px;
      border: none;
      outline: none;
      padding-left: 10px; }
      .authenticate form *::-webkit-input-placeholder {
        color: teal;
        font-size: 16px;
        font-family: BPGExtrasquare; }
      .authenticate form *:-ms-input-placeholder {
        color: teal;
        font-size: 16px;
        font-family: BPGExtrasquare; }
      .authenticate form *::-ms-input-placeholder {
        color: teal;
        font-size: 16px;
        font-family: BPGExtrasquare; }
      .authenticate form *::placeholder {
        color: teal;
        font-size: 16px;
        font-family: BPGExtrasquare; }
    .authenticate form button {
      color: teal;
      font-family: BPGExtrasquare;
      font-size: 14px;
      cursor: pointer; }
  .authenticate::after {
    content: '';
    position: absolute;
    background-color: rgba(228, 231, 16, 0.364);
    right: -20%;
    z-index: 1;
    width: 70%;
    -webkit-transform: skew(-120deg);
    -ms-transform: skew(-120deg);
    transform: skew(-120deg);
    height: 100%; }

.mainFooter {
  width: 100%;
  height: 200px;
  background-color: teal;
  text-align: center;
  line-height: 200px;
  font-size: 25px;
  color: white; }

@media screen and (max-width: 770px) {
  .authenticate form {
    width: 100%; }
  .authenticate h2 {
    display: none; }
  .authenticate::after {
    content: none; } }
