
.mainSlider {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .mainSlider h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 64px;
    top: 40%;
    color: white;
    font-family: 'Modak', cursive; }
  .mainSlider p {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 10%;
    top: 50%;
    font-size: 30px;
    color: white;
    font-family: mtav; }

.aboutTb {
  width: 100%;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .aboutTb h2 {
    width: 15%;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    color: rgba(10, 77, 133, 0.51);
    position: relative;
    background: white; }
  .aboutTb::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(175, 215, 249, 0.51);
    top: calc(50% - 1px);
    z-index: -1; }

@-webkit-keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

@keyframes forHeader {
  from {
    width: 100%;
    left: 0; }
  to {
    width: 90%;
    left: 5%; } }

.images {
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-gap: 5px; }
  .images img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
    .images img:hover {
      animation: imgHover .8s ease-in;
     
    }
    @keyframes imgHover {
      0% {transform: skew(0);}
      20% {transform: skew(-5deg) rotateX(-20deg);}
      40%{transform: skew(5deg) rotateX(20deg);}
      60% {transform: skew(-10deg) rotateX(-40deg);}
      70%{transform: skew(10deg) rotateX(40deg);}
      100% {transform: skew(0);}
    }
    @media screen and (max-width:769px){
      .images {
        column-count: 2;
      }
    }
    @media screen and (max-width:425px){
      .mainHeader .burgerer {
        display: block;
        font-weight: 900;
        font-size: 25px;
        color: white;
      }
      .mainHeader nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background: rgb(175, 215, 249);
        justify-content: flex-start;
        top: -100%;
      }
      .mainHeader nav ul li {
        height: auto;
        /* margin-top: 20px; */
        width: 100%;
        padding: 10px 0;
      }
      .mainSlider h2 {
        font-size: 25px;
        top: 28%;
        
      }
      .mainSlider p {
        font-size: 20px;
        top: 40%;
        width: 100%;
        left: 0;
      }
      .aboutTb h2 {
        width: 50%;
      }
      .images {
        width: 90%;
        overflow: hidden;
        margin-left: 5%;
        column-count: 1;
        -webkit-column-count: 1;
      }

    }